/*************************************************
Login page
*************************************************/
.loginpanel {
    border: 1px solid #dddddd;
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
}
.logininfo {
    padding-left: 15px;
    font-size: 0.9em;
    /*float: left;*/
}
.loginfailures {
    position: relative;
    float: right;
    color: red;
}
.loginfailures a {
    color: red;
}
.loginbox.twocolumns .loginpanel {
    border-right: 1px solid #ddd;
}
.user-picture > a:hover {
    background: none !important;
}
#page-login-index .loginbox {
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid #ccc;
}
#page-login-index .notifysuccess,
#page-login-index .notifyproblem,
#page-login-index .notifymessage,
#page-login-index .notifynotice,
#page-login-index .notice,
#page-login-index .loginerrors,
#page-login-index .errorbox
 {
    text-align: center !important;
    border: none;
}
#page-login-index .loginpanel {
    border: none;
}

/*************************************************
Forgotten Password
*************************************************/
#page-login-forgot_password .boxwidthnormal {
    width: 100%;
    padding: 20px 0;
}