@media print {
    
    body, * { 
        -webkit-print-color-adjust:exact !important; /*Enable background printing in Chrome (Chrome only) */
    }
    body.has_dock {
        margin-left: 0 !important;
    }
    
    /* Login page */
    body#page-login-index {
        background: url([[pix:theme|bg_login]]) no-repeat center center !important;
        background-size: cover !important;
    }
    #page-login-index .loginbox {
        background: rgba(255, 255, 255, 0.9) !important;
    }
    #page-login-index #page-header {
        background: #fff !important;
    }
    
    /* General */
    button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
        background: #333 !important;
        color: #fff !important;
    }
    
    /* Hidden elements */
    .navbar-fixed-top .navbar-inner, 
    .navbar-fixed-bottom .navbar-inner,
    #block-region-side-pre, 
    #block-region-side-post,
    #page-navbar-wrapper, 
    #dock,
    #page-footer {
        display: none !important;
    }
    
    /* Tiles */
    .tileoutlinecontent {
        background: #000 !important;
    }
    .tileoutlinearea {
        background: #ddd url([[pix:theme|course_bg]]) center center no-repeat !important;
    }
    
    #tile1 a {background: #ddd url([[pix:theme|tilebg_1]]) center center no-repeat !important;}
    #tile2 a {background: #ddd url([[pix:theme|tilebg_2]]) center center no-repeat !important;}
    #tile3 a {background: #ddd url([[pix:theme|tilebg_3]]) center center no-repeat !important;}
    #tile4 a {background: #ddd url([[pix:theme|tilebg_4]]) center center no-repeat !important;}
    #tile5 a {background: #ddd url([[pix:theme|tilebg_5]]) center center no-repeat !important;}
    #tile6 a {background: #ddd url([[pix:theme|tilebg_6]]) center center no-repeat !important;}
    #tile7 a {background: #ddd url([[pix:theme|tilebg_7]]) center center no-repeat !important;}
    #tile8 a {background: #ddd url([[pix:theme|tilebg_8]]) center center no-repeat !important;}
    #tile9 a {background: #ddd url([[pix:theme|tilebg_9]]) center center no-repeat !important;}
    #tile10 a {background: #ddd url([[pix:theme|tilebg_10]]) center center no-repeat !important;}
    #tile11 a {background: #ddd url([[pix:theme|tilebg_11]]) center center no-repeat !important;}
    #tile12 a {background: #ddd url([[pix:theme|tilebg_12]]) center center no-repeat !important;}
    #tile13 a {background: #ddd url([[pix:theme|tilebg_13]]) center center no-repeat !important;}
    #tile14 a {background: #ddd url([[pix:theme|tilebg_14]]) center center no-repeat !important;}
    #tile15 a {background: #ddd url([[pix:theme|tilebg_15]]) center center no-repeat !important;}
    #tile16 a {background: #ddd url([[pix:theme|tilebg_16]]) center center no-repeat !important;}
    #tile17 a {background: #ddd url([[pix:theme|tilebg_17]]) center center no-repeat !important;}
    #tile18 a {background: #ddd url([[pix:theme|tilebg_18]]) center center no-repeat !important;}
    #tileall a {background: #ddd url([[pix:theme|tilebg_allsections]]) center center no-repeat !important;}
    
    .tiletitle {background: black !important;}
    
}

/* Note: 

In IE and Firefox, to print background images, users need to enable these settings manually. 
For some reason, IE and FF has set their default setting to not printing background colors and images and cannot be overwritten by CSS.

IE: 
Print > Page Setup - Enable "Print background colors and images" option

Firefox:
Page Setup > [Format & Options] Tab under Options.

*/