#page-mod-scorm-view #intro.generalbox {
        padding: 20px;
        background: #FAFAFA;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        width: auto;
        margin-bottom: 20px;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd-nohd {
    border: none;
}
.yui3-button[disabled], .yui3-button-disabled, .yui3-button-disabled:hover, .yui3-button-disabled:active {
        opacity: 0.3;
}

/****************************************
SCORM - Launch as a Popup
****************************************/
#page-mod-scorm-player.pagelayout-popup #page-content h2,
#page-mod-scorm-player.pagelayout-embedded #page-content h2 {
    display: none;
}
#page-mod-scorm-player.pagelayout-popup #scormpage #scorm_object,
#page-mod-scorm-player.pagelayout-embedded #scormpage #scorm_object {
    width: 100%;
    height: 100%;
}
#page-mod-scorm-player.pagelayout-popup,
#page-mod-scorm-player.pagelayout-popup .container-fluid,
#page-mod-scorm-player.pagelayout-popup #page,
#page-mod-scorm-player.pagelayout-popup #page #page-content,
#page-mod-scorm-player.pagelayout-popup #region-main, 
#page-mod-scorm-player.pagelayout-popup #block-region-side-pre, 
#page-mod-scorm-player.pagelayout-popup #block-region-side-post,
#page-mod-scorm-player.pagelayout-embedded,
#page-mod-scorm-player.pagelayout-embedded .container-fluid,
#page-mod-scorm-player.pagelayout-embedded #page,
#page-mod-scorm-player.pagelayout-embedded #page #page-content,
#page-mod-scorm-player.pagelayout-embedded #region-main, 
#page-mod-scorm-player.pagelayout-embedded #block-region-side-pre, 
#page-mod-scorm-player.pagelayout-embedded #block-region-side-post {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}
#page-mod-scorm-player.pagelayout-popup iframe,
#page-mod-scorm-player.pagelayout-embedded iframe {
    border: none;
    height: 100% !important;
    display: block;
    width: 100% !important;
}

/****************************************
SCORM - Launch in the current window
****************************************/

#page-mod-scorm-player .breadcrumb-button {
    margin: 8px 5px 0 0;
}
#page-mod-scorm-player .breadcrumb-button a {
    color: #fff;
    background: [[setting:buttoncolor]];
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}
#page-mod-scorm-player iframe {
    border: 1px solid #ccc;
}

/****************************************
RESPONSIVE
****************************************/
/*iPad landscape orientation styles */
@media only screen and (device-width:768px)and (orientation:landscape) { 
    #scorm_content {width: auto; height: auto;}
    #page-mod-scorm-player .clearfix {overflow: hidden;}
    #page-mod-scorm-player #page {margin: 0 auto;}
    .yui-layout-clip.yui-layout-clip-left {display: none !important;}
    .yui-layout-unit { width: 100% !important;}
    .yui-layout div.yui-layout-bd {width: auto !important; height: auto !important; position: relative;}
    .yui-layout-clip.yui-layout-clip-left {display: none !important;}
    .yui-skin-sam .yui-layout {background: white !important;}
    #scorm_object {width: 100% !important; }
}
/*iPad Portrait orientation styles */
@media only screen and (device-width:768px)and (orientation:portrait) { 
    #toctree {overflow: visible !important;}
    #page-mod-scorm-player #page {margin: 0; width: 100%;}
    #page-mod-scorm-player #page-content .region-content {padding: 0; height: auto; }
    #page-mod-scorm-player.has_dock {margin-left: 0;}
    #page-mod-scorm-player.has_dock #dock {display: none;}
    #page-mod-scorm-player #footerwrap {display: none;}
    .yui-layout-wrap {left: 0; top: 0; height: 100% !important;}
    .yui-layout-doc {overflow: visible; }
    .yui-layout div.yui-layout-bd {height: 100% !important; }
    .yui-layout-unit {left: 0 !important;}
    #scorm_content {width: 100% !important; }
    #scorm_object {width: 100% !important; }
}