/*************************************************
TOTARA 
*************************************************/
/*My Learning*/

#dp-plans-description .dp-add-plan-link {
    float: none;
    text-align: left;
    width: auto;
    clear: both;
}
#dp-plans-description .instructional_text {
    width: auto;
}
/*My Bookings, My Team*/
#page-my-bookings .fitemtitle, 
#page-my-bookings .felement.fgroup,
#page-my-teammembers .fitemtitle, 
#page-my-teammembers .felement.fgroup {
    width: auto !important;
    margin-left: auto !important;
}
/*
#dp-plans-menu {
    width: 18%;
}
#dp-plan-content {
    width: 80%;
    border-left: 1px solid #ddd;
    padding-left: 1%;
}
*/
.block.block_fake h3 {
    color: #333 !important;
}

/* Required Learning */

#page-totara-program-required .programprogress, 
#page-totara-program-required .summary {
    display: table;
}

@media (max-width: 979px) {
    #dp-plans-menu {
        width: 100%;
    }
    #dp-plan-content {
        width: 100%;
        border: none;
    }
}


/*************************************************
Positions
*************************************************/
#treeview_currently_selected_span_position > label {
    display: inline;
    font-size: 1em;
}
div.totara-dialog td.select #search-tab  select {
    margin: 0 10px;
}


/* Vertical tab tree */
.verticaltabtree-wrapper {
    border-left: 1px solid #333;
}
.verticaltabtree {
    width: 202px;
}
.verticaltabtree .nav-tabs {
    border: none;
}
.verticaltabtree .nav-tabs > li > a, 
.verticaltabtree .nav-tabs > li > a:hover {
    border-radius: 0;
    border-bottom: 1px solid #333;
}
.verticaltabtree .nav-tabs > li {
    margin-bottom: 0;
}
.verticaltabtree .nav-tabs > li, .nav-pills > li {
    float: none;
}
.verticaltabtree .nav-tabs > .active > a, 
.verticaltabtree .nav-tabs > .active > a:hover, 
.verticaltabtree .nav-tabs > .active > a:focus,
.verticaltabtree .nav > li > a:hover, 
.verticaltabtree .nav > li > a:focus {
    border: 1px solid #333;
    border-right: none !important;
}
.verticaltabtree-content {
    border-left: none;
    border-top: 1px solid #333;
}

/*************************************************
Course Catalogue
*************************************************/
.fitemtitle {
    text-align: left !important;
}
.felement.fgroup {
    margin: 0 !important;
}

/*************************************************
Blocks
*************************************************/
/* Block - Links */
.block_totara_quicklinks .content li,
.block_totara_quicklinks .content li:first-child {
    border: none;
} 

/* Block - Report Manager */
.block_totara_report_manager.block .content {
    font-size: 90% !important;
}