
/*******************
General
*******************/
body {
    margin-bottom: 0;
    color: #4d4d4f;
}
.container-fluid {
    max-width: 1280px; /*optimised for 1366px screen-res*/
}
a, a:link, a:visited {
    color: #00457c;
}
a:hover, a:active, .breadcrumb a:hover {
    text-decoration: underline;
}
h1, h2 {
    /*text-transform: uppercase;*/
}
h4 {
    font-style: italic;
}
.breadcrumb {
    color: #888;
}
.breadcrumb a {
    color: #4d4d4f;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #d08028;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #333;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
    box-sizing: border-box;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner,
.navbar-fixed-top .navbar-inner .container-fluid {
    background: #000;
    filter: none;
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu > ul > li.first > a {
    /*border-right: 1px solid #747578 !important;*/
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    border-color: #666;
    color: #fff;
    padding: 7px 14px;
    background: transparent;
}
div#totaramenu ul li a:hover, 
div#custommenu ul li a:hover {
    background: #00693e;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, 
div#totaramenu ul li.selected a {
    background: #00693e;
    color: #fff;
    border-radius: 0;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    background: #00693e url([[pix:theme|bg_header]]) no-repeat top right;
}
#page-navbar-wrapper {
    border: none;
    background: #ccc;
}
.logininfo {
    padding-left: 0;
    font-size: 1em;
    color: #777;
}
.logininfo a {
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 9px 0;
}
.logo {
    padding: 15px;
}
.bannertext {
    margin-top: -83px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
#page-site-index .breadcrumb-nav {
    /*display: none;*/
}
#catalogue_search_text_box{
    width: 260px;
    background-image: url([[pix:theme|magnifier]]);
    background-position: 250px;
    background-repeat: no-repeat;
}
/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #c5c7c8 !important;
    /*background: rgb(189,189,189);  Old browsers 
    background: -moz-linear-gradient(top,  rgba(189,189,189,1) 1%, rgba(230,230,230,1) 85%); /* FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(189,189,189,1)), color-stop(85%,rgba(230,230,230,1))); /* Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(189,189,189,1) 1%,rgba(230,230,230,1) 85%); /* Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  rgba(189,189,189,1) 1%,rgba(230,230,230,1) 85%); /* Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(189,189,189,1) 1%,rgba(230,230,230,1) 85%); /* IE10+ 
    background: linear-gradient(to bottom,  rgba(189,189,189,1) 1%,rgba(230,230,230,1) 85%); /* W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #bbb;
}
.block .header .title h2, .block h3.main {
    padding: 2px 6px;
}
.block .content {
    background: #efefef;
}
.block_settings hr {
    display: none;
}

/*Block - Navigation*/
/*
.block_navigation.block .header, .block_navigation.block .hidden .header {
    background: #153fac !important;
}
.block_navigation.block .content {
    background: #526eb6;
}
.block_navigation.block .header .title h2,
.block_navigation.block .content,
.block_navigation.block .content a {
    color: #fff !important;
}
.block_navigation.block .content span {
    color: #fff !important;
    font-weight: bold;
}
.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch {
    background-image: url([[pix:theme|core/t/collapsed]]);
}
.block_navigation .block_tree .tree_item.branch {
    background-image: url([[pix:theme|core/t/expanded]]);
}
*/

/*Block - Admin or Settings*/
/*
.block_settings.block .header, .block_settings.block .hidden .header {
    background: #ef5440 !important;
}
.block_settings.block .content {
    background: #ed6c62;
}
.block_settings.block .header .title h2,
.block_settings.block .content,
.block_settings.block .content a {
    color: #fff !important;
}
.block_settings.block .content span {
    color: #fff !important;
    font-weight: bold;
}
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch {
    background-image: url([[pix:theme|core/t/collapsed]]);
}
.block_settings .block_tree .tree_item.branch {
    background-image: url([[pix:theme|core/t/expanded]]);
}
*/


/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/********************************
Tiles Format
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: top right !important;
    background-size: auto !important;
    background-color: #00457c !important;
    border-radius: 0 !important;
    min-height: 200px;
    padding: 0;
}
.tileoutlinecontent {
    background: rgba(0, 0, 0, 0.7);
    /*background: transparent url([[pix:theme|bg_tile0_corner]]) no-repeat bottom right;*/
    width: 40%;
    padding: 20px 25px !important;
    min-height: 160px;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
    background-image: url([[pix:theme|tilebg]]) !important;
}
.tiletitle, .tile a:hover .tiletitle {
    /*background: #81c241 url([[pix:theme|bg_corner]]) no-repeat right 21px !important;*/
    background-color: #000;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}
.tilecontentarea.section.current {
    border: 2px solid #00693e !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #4d4d4f !important;
    border: 1px solid #939ba0;
    background: #fff !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #000 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #00693e !important;
    border: 1px solid #00693e;
}
.tiletopicnav .currentsection {
    border: 2px solid #00693e !important;
}

/********************************
Front Page
********************************/
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}
#page-site-index #frontpage-course-list .teachers,
#page-site-index #frontpage-course-list .summary {
    display: none;
}
#page-site-index .coursebox {
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
#page-site-index .coursebox:hover {
    background: rgb(214,214,214); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
.coursebox > .info > .coursename {
    float: none;
}
.coursebox > .info > h3.coursename {
    margin: 0;
}
#page-site-index .coursebox > .info > .coursename a {
    display: block;
    padding: 7px 39px;
}



/********************************
Docking
********************************/
body.has_dock div#dock {
    background: -moz-linear-gradient(left center , #fff 10%, #e5e5e5 60%, #afafaf 100%) repeat scroll 0 0 #f2f2f2;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: #000 !important;
}
#dock .dockedtitle h2 {
    color: #fff;
}
#dockeditempanel {
    left: 85%;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}
/* Custom homepage */
#custom-homepage-regions #region-hero-unit img,
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions #region-hero-unit {
    padding-bottom: 20px;
}

/********************************
Custom Login
********************************/
body#page-login-index {
    /*background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;*/
}
#page-login-index #page {
    margin: 3% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: #eee;
    width: 60%;
    padding: 35px 20px;
}
#page-login-index .loginbox .subcontent {
    padding-top: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index .loginbox .loginform .form-input {
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
    padding: 0;
}
#page-login-index .loginbox .loginform .form-input input {
    padding: 1em;
    width: 30%;
    text-align: center;
}
#page-login-index #loginbtn {
    padding: 0.6em 5em;
}
/* Hack - hidden */
#page-login-index .forgetpass,
#page-login-index .desc {
    display: none;
}

/********************************
Custom Search Field
********************************/
.custom_search_box {
    float: right;
    clear: right;
    margin: 42px 0 0 0;
}
#catalogue_search_text_box{
    width: 250px;
    background: #fff url([[pix:theme|ic_magnifier]]) no-repeat center right;
    border-radius: 5px !important;
    border: 1px solid #606060;
    padding: 8px;
}


/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    body {
        margin-bottom: 90px;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    .logo {
        display: table;
        width: 100%;
        text-align: center;
    }
    .logo img {
        width: 100%;
        max-width: 117px;
    }
    .bannertext {
        float: none;
        display: table;
        margin: -5px 0 15px 0;
        width: 100%;
        padding: 0;
    }
    .bannertext img {
        width: 100%;
        max-width: 210px;
    }
    #page-header {
        background-size: cover;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    #page-footer .year,
    #page-footer .footnote {
        float: none;
        text-align: center;
        padding: 0;
    }
    .custom_search_box {
        float: none;
        clear: none;
        text-align: center;
        margin-bottom: 20px;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 10px 0;
    }
    #page-login-index .loginbox {
        width: 100%;
        float: none;
        border: 1px solid #ddd;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 90%;
        max-width: 100%;
    }
    /* Custom homepage */
    #custom-homepage-regions #region-hero-unit {
        padding-bottom: 10px;
    }
    #custom-homepage-regions div.content p {
        padding-bottom: 0;
    }
    #custom-homepage-regions #region-two-cols-wrap .column {
        width: 100%;
    }
    /* Tile */
    .tileoutlinecontent {
        width: auto;
    }
}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
}
