
/*******************
General
*******************/
body {
    color: #505050;
}

a, a:link, a:visited {
    color: #505050;
    text-decoration: underline;
}
a:hover, a:active {
    background: #fff795;
}
header {
    /*z-index: 999 !important;*/
}
.breadcrumb {
    color: #888;
}
.breadcrumb a {
    color: #4d4d4f;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], #id_buttonfield, a.link-as-button, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], .btn-primary {
    background-color: #0753ee;
    background-image: none;
    filter: none;
    color: #fff;
    border-radius: 5px !important;
}
/*hover*/
button:hover, input.submit:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, #id_buttonfield:hover, a.link-as-button:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, .btn-primary:hover,
/*focus*/
button:focus, input.submit:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, #id_buttonfield:focus, a.link-as-button:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, .btn-primary:focus {
    background-color: #053cac;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    margin: 5px 12px;
    padding: 0;
    background: none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #bbb;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: #fff;
    filter: none;
    -webkit-box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2) !important;
    border-top: 1px solid #ddd !important;
}
.navbar .nav > li > a {
    padding: 5px;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu > ul > li.first > a {
    /*border-right: 1px solid #747578 !important;*/
}
div#totaramenu ul li a, div#custommenu ul li a {
    border-left: 1px solid #ccc !important;
    /*border-right: 1px solid #ccc !important;*/
    color: #000;
    padding: 10px 30px;
    background: transparent;
    font-weight: bold;
}
div#totaramenu ul li a:hover, div#custommenu ul li a:hover {
    background: #0050e8;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    background: #0050e8;
    color: #fff;
    border-radius: 0;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    /*background: #00693e url([[pix:theme|bg_header]]) no-repeat top right;*/
    background: #fff;
}
#page-navbar-wrapper {
    border: none;
    margin-top: 5px;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 9px 0;
}
.logo {
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.logo a:hover {
    background: none;
}
.bannertext {
    margin-top: -83px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
#page-site-index .breadcrumb-nav {
    /*display: none;*/
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #54524c !important;
    border-bottom: 1px solid #bbb;
}
.block .header .title h2, .block h3.main {
    padding: 2px 6px;
    color: #fff;
}
.block .content {
    background: #eceaec;
    border-top: 2px solid #fff;
    padding: 10px;
}
.block_settings hr {
    display: none;
}

/*Block - Admin or Settings*/
.block_settings .footer input#adminsearchquery {
    max-width: 58%;
}
.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4 .block_settings .footer input#adminsearchquery {
    max-width: 48%;
}
.row-fluid .span4 .block_settings .footer input#adminsearchquery {
    max-width: inherit;
    width: auto;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/********************************
Tiles Format
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: top right !important;
    background-size: auto !important;
    background-color: #0050e8 !important;
    border-radius: 0 !important;
    min-height: 200px;
    padding: 0;
}
.tileoutlinecontent {
    background: rgba(0, 0, 0, 0.7);
    /*background: transparent url([[pix:theme|bg_tile0_corner]]) no-repeat bottom right;*/
    width: 40%;
    padding: 20px 25px !important;
    min-height: 160px;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
    background-image: url([[pix:theme|tilebg]]) !important;
}
.tile a, .tile a:hover {
    background-size: cover;
}
.tiletitle, .tile a:hover .tiletitle {
    /*background: #81c241 url([[pix:theme|bg_corner]]) no-repeat right 21px !important;*/
    background-color: #000;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}
.tilecontentarea.section.current {
    border: 2px solid #00693e !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #4d4d4f !important;
    border: 1px solid #939ba0;
    background: #fff !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #000 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #00693e !important;
    border: 1px solid #00693e;
}
.tiletopicnav .currentsection {
    border: 2px solid #00693e !important;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: -moz-linear-gradient(left center , #fff 10%, #e5e5e5 60%, #afafaf 100%) repeat scroll 0 0 #f2f2f2;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: #000 !important;
}
#dock .dockedtitle h2 {
    color: #fff;
}
#dockeditempanel {
    left: 85%;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/********************************
Front Page
********************************/
#page-site-index #frontpage-course-list .teachers,
#page-site-index #frontpage-course-list .summary {
    display: none;
}
#page-site-index .coursebox {
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
#page-site-index .coursebox:hover {
    background: rgb(214,214,214); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
.coursebox > .info > .coursename {
    float: none;
}
.coursebox > .info > h3.coursename {
    margin: 0;
}
#page-site-index #page, #page-site-index #region-main {
    padding: 15px 0;
}
#page-site-index #page-navbar-wrapper {
    display: none;
}
#page-site-index .coursebox > .info > .coursename a {
    display: block;
    padding: 7px 39px;
}
/* Custom homepage */
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}
#custom-homepage-regions #region-hero-unit img,
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions .column img {
    max-width: inherit;
}
#custom-homepage-regions .column .content a {
    padding: 0;
}
#custom-homepage-regions #region-three-cols-wrap {
    display: none;
}

/********************************
Footer
********************************/
#page-footer {
    background: #e8e8e8;
}
#page-footer a {
    color: #505050;
    padding: 0 10px;
}

/********************************
Custom Login
********************************/
body#page-login-index {
    /*background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;*/
}
#page-login-index #page {
    margin: 3% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: #eee;
    width: 60%;
    padding: 35px 20px;
}
#page-login-index .loginbox .subcontent {
    padding-top: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index .loginbox .loginform .form-input {
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
    padding: 0;
}
#page-login-index .loginbox .loginform .form-input input {
    padding: 1em;
    width: 30%;
    text-align: center;
}
#page-login-index #loginbtn {
    padding: 0.6em 5em;
}
/* Hack - hidden */
#page-login-index .forgetpass,
#page-login-index .desc {
    display: none;
}

/********************************
Custom Search Field
********************************/
.custom_search_box {
    float: right;
    clear: right;
    margin: 31px 10px 0 0;
}
.custom_search_box label {
    display: none;
}
#catalogue_search_text_box{
    width: 250px;
    background: #fff url([[pix:theme|ic_magnifier]]) no-repeat center right;
    border-radius: 5px !important;
    border: 1px solid #606060;
    padding: 8px;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    
    #custom-homepage-regions div.content p {
        padding-bottom: 0;
    }
    #custom-homepage-regions #region-two-cols-wrap .column {
        width: 100%;
    }
    #custom-homepage-regions .column .content a, #custom-homepage-regions .column .content a:hover {
        background: none !important;
    }
}
@media (max-width: 979px) { 
    body {
        margin-bottom: 90px;
    }
    .user-picture {
        padding-right: 10px !important;
    }
    .navbar .nav.pull-right {
        background: #545254;
        margin: 0;
    }
    .logininfo a {
        color: #fff;
    }
    .logininfo a:hover {
        color: #505050;
    }
    .logo {
        display: table;
        width: 100%;
        text-align: center;
    }
    .logo img {
        width: 100%;
        max-width: 117px;
    }
    div#totaramenu ul li a, div#custommenu ul li a { 
        padding: 3px 10px;
    }
    section {
        padding: 0 !important;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 0;
    }
    #page-login-index .loginbox {
        width: 100%;
        float: none;
        border: 1px solid #ddd;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 90%;
        max-width: 100%;
    }
    /* Custom homepage */
    .custom_search_box {
        float: none;
        clear: none;
        text-align: center;
        margin-bottom: 20px;
    }
    #page-site-index #page, #page-site-index #region-main {
        padding: 10px;
    }
    
    /* Tile */
    .tileoutlinecontent {
        width: auto;
    }
}


[[setting:customcss]]