body {
  font-size: 13px;
}

#logo {
  float: left;
  margin: 10px 0;
}
.dir-rtl #logo {
    float: right;
}

#page-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #d4d4d4;
}

body {
    padding-top: 0;
}

@media screen and (max-width: 767px) {
  #page-footer {
    margin-right: -20px;
    margin-left: -20px;
  }
}
